<!DOCTYPE html>
<html lang="en" ng-app="greenopiaApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Greenopia!</title>
    <!--  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <!--  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="/css/master.css"> -->
    <!--  -->
  </head>

  <body style="background-color:#32CD32" ng-controller="mainCtrl">
    <div class="container">
      <br>
      <div class="container-fluid">

        <div class="well">

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 - col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
          <h1 style="text-align:center">
            <em>Welcome to Greenopia!</em>
          </h1>
        </div>
        <div class="jumbotron">
        </div>

        <div class="jumbotron">
          <h3 style="text-align:center"><strong>Enter your Information:</strong></h3>
        </div>
        <div class="jumbotron">
          <div class="wrapper" >
          <form class="" action="add_user" method="POST">

            <!-- <div class="col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-xs-offset-4 col-lg-4 col-md-4 col-sm-4 col-xs-4"> -->
      <span>Name:</span>              <input ng-model='user.name'class="inputs" type="text" name="title">
      <span>Sender-Email:</span>      <input ng-model='user.senderEmail'class="inputs" type="text" name="year">
      <span>Receiver-Address</span>   <input ng-model='user.receiverAddress'class="inputs" type="text" name="imdb">

            <!-- </div> -->
          </form>

        </div>
<br>

          <button type="button" ng-click="addNewUser()"  value="submit" class="btn btn-success btn-lg col-xs-offset-3 col-xs-6 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6 ">
            <em>Greenopia ! <span class="glyphicon glyphicon-globe" style="text-align:right"></span></em>
          </button>
        </div>
      </div>

    </div>
    <div class="col-xs-offset-5 col-xs-2 col-sm-offset-5 col-sm-2 col-md-offset-5 col-md-2 col-lg-offset-5 col-lg-2 ">
      <img src="logo.jpg" class="img-rounded img-thumbnail img-responsive" alt="Greenopia-logo">
    </div>
    <br>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align:center">

    <footer><p>All Rights Reserved <span class="glyphicon glyphicon-registration-mark"></span></p></footer>
    </div>

  </body>
  <style media="screen">

      .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
  </style>
  <script>

  angular.module('greenopiaApp',[])
  .controller('mainCtrl',function($scope,$http){
    $scope.user = {
      name:'' ,
      gCode:'' ,
      deliveryDate:'' ,
      role: '',
      imgUrl:'' ,
      receiverEmail: '',
      senderEmail:'' ,
      receiverAddress: ''
    };

    $scope.addNewUser=function(){
      $http.post('/backend/sendNewUser',$scope.user).then(function(response){
        alert(angular.toJson(response,true));
      },function(errResponse){
        console.error('Error in inserting User!');
      });
    }

  });

  </script>
</html>
